body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Encode Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#showcase {
  position: relative;
  background: url(images/1345508810-medium.jpg) no-repeat center center/cover;
  height: 100vh;
}

#standard-page {
  position: relative;
  background: url(images/headercard.png) no-repeat center center/cover;
  height: 40vh;
}

#standard-page::before {
  content: "";
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(0deg, rgba(90, 133, 173, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

#standard-page-alt {
  position: relative;
  background: url(images/headercard.png) no-repeat center center/cover;
  height: 40vh;
}

/* nav bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(90, 133, 173, 0.75);
}

.logo-main {
  width: auto;
  height: 100px;
}

.nav-link {
  font-weight: 700;
  font-size: 1.8rem;
  margin-left: 25px;
  font-family: "Red Hat Display", sans-serif;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #e2f1ff;
}

.active {
  border-bottom: 2px solid #c9d3dc;
}

/* main display */
.main-show {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  padding: 80px 0 0 0;
  margin: 0;
}

.btn-solid {
  background-color: #e2f1ff;
  width: 200px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-solid:hover {
  background-color: rgba(90, 133, 173, 1);
  border: 2px solid #fff;
}

.btn-solid:hover a {
  color: #fff;
}

/* Main Website pages */
.main-color {
  background-color: rgba(90, 133, 173, 1);
}

/* footer */
.footer__icons-main i {
  color: #e2f1ff;
}

/* footer */
.main-page-footer {
  background-color: rgba(90, 133, 173, 0.7);
}

.main-page-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.statuatory-list {
  display: flex;
  justify-content: center;
}

.stat-link a {
  color: #e2f1ff;
  font-size: 0.6rem;
  padding: 5px 5px;
}

.footi {
  color: black;
  padding: 10px 10px;
}
.footi:hover {
  color: white;
  font-size: 2.2rem;
}

/* Responsive settings */
@media (max-width: 768px) {
  /* navbar */
  .logo-main {
    width: auto;
    height: 70px;
  }

  /* main display */
  .main-show {
    padding: 50px 0 0 0;
    margin: 0;
  }
  .btn {
    width: 180px;
    margin-top: 50px;
  }
  .btn-solid {
    font-size: 1rem;
  }

  /* footer */
  .footer-text {
    font-size: 1rem;
  }

  /* about pages */
}
